html {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    display: block;
    min-height: 100vh;
    margin: 0;
    text-rendering: optimizeSpeed;
    background: black url(./images/background.jpg) center center no-repeat;
    background-size: cover;  
    color: rgb(255, 255, 255);
}

/*MAIN Page*/
    .MainContainer {
        
    }
        .MainHeader {
            
        }
            .MainContent {
                padding-top: 3rem;
                text-align: center; 
            }
                .MainTitle {
                    padding-bottom: 4rem;
                }
                @media (min-width: 1024px) { .MainTitle { width: clamp(300px, 22vw, 20rem); height: clamp(200px, 12vw, 18rem);} }
                .MainAuthor {
                    font-size: 1rem;
                    font-weight: 300;
                    padding-bottom: 3rem;
                }
                @media (min-width: 1024px) { .MainAuthor { font-size: 1.4rem; } }
                    .MainAuthor span {
                        padding-left: 0.5rem;
                        font-style: italic;
                    }
        .MainMain {
            clear: both;
        }        
            .MainResource {
                display: block;
                margin: auto;
                padding: 0;
            }
            
                .MainResourceList {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    padding: 0;
                    font-size: 1rem;
                    text-decoration: none;
                    max-width: 900px;
                }
                @media (min-width: 1080px) { .MainResourceList { flex-direction: row; align-items: center; justify-content: center; font-size: 1.2rem; margin: 0 auto;}}
                    
                    .MainResourceLink {
                        display: block;
                        text-decoration: none;
                        width: fit-content;
                        padding: 0 1.5rem;
                    }
                        .MainResourceItem {
                            margin-bottom: 3rem;
                            background: rgb(255, 190, 152);
                            color: white;
                            padding: 1rem 2rem;
                            border-radius: 1.5rem;
                            list-style-type: none;
                            text-transform: uppercase;
                            font-weight: 900;
                        }
                        .MainResourceItem:hover {
                            background: rgba(255, 190, 152, 0.493);
                        }
                        .MainResourceItem span {
                            font-size: 0.7rem;
                            font-weight: 500;
                        }
                        @media (min-width: 1080px) { .MainResourceItem span{ font-size: 0.8rem; } }
        .MainFooter {
            display: block;
            clear: both;
            margin-top: 2rem;
            border-top: 1px solid rgba(255, 218, 185, 0.432);
            width: 80vw;
            margin: 0 auto;
        }               
           .FooterText {
                color: peachpuff;
                font-size: 0.8rem;
                font-weight: 300;
                padding: 1rem 0;
                text-align: center;
            }   
            @media (min-width: 1024px) { .FooterText { font-size: 1rem; } }


/* MATERIALS Page */
.MaterialsContainer {
    background: rgba(150, 150, 150, 0.461);
    height: 100vh;
}
    .MaterialsHeader {
        margin: 0;
        padding: 0;
    }
        .MaterialsHeaderNav{
            display: flex;
            position: sticky;
            flex-direction: column;
            top: 0;
            height: fit-content;
            background: rgba(205, 205, 205, 0.416);
            box-shadow: 0 1em 1em rgba(0, 0, 0, 0.3);
        }
            .NavLeft {
                padding: 1rem 1.5rem;
                max-width: 210px;
            }
                .NavLeftTitleOne {
                    padding: 0;
                    font-size: 1rem;
                    font-weight: 900;
                    text-decoration: none;
                }
                .NavLeftTitleTwo {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: #ffffff;
                }
                
            .NavRightTrigger {
                display: block;
                margin: 0;
                padding: 1rem 1.5rem;
                background: transparent;
                border: none;
                appearance: none;
            }
                .NavRightTriggerImage {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                }
            .NavRight {
                
                position: absolute;
                top: 12.6rem;
                right: 0;
                bottom: 0;
                left: 0;
                height: calc(100vh - 15rem);
                background: #eee;
                padding: 1rem 0;
            }
            .NavRightTrigger:active + .NavRight, .NavRightTrigger:focus + .NavRight { display: block;}
                .NavRightList {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
                    .NavRightListItem {
                        display: block;
                    }
                        .NavRightListItemLink {
                            display: block;
                            padding: 0.5em 1em;
                            background: transparent;
                            font-size: 1em;
                            font-weight: 700;
                            text-decoration: none;
                        }
                        .NavRightListItemLink:hover {
                            color: rgb(255, 190, 152);
                            background: rgb(255, 255, 255); 
                        }
                        .NavRightSubList {
                            display: block;
                            padding: 0;
                            margin: 0;
                        }
                            .NavRightSubListItem {
                                display: block;
                            }
                                .NavRightSubListItemLink {
                                    display: block;
                                    padding: 0.75em 1.5em;
                                    background: transparent;
                                    text-decoration: none;
                                }

    .MaterialsMain {

    }
        .MaterialsMainTitle {
                
        }
        .MaterialsMainImage {
        
        }

    .MaterialsFooter {

    }
        .MaterialsFooterText {
            
        }




