html {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.776) url(./images/background.jpg) center center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
    .AppWrapper {
        display: block;
        margin: 0;
        padding: 0;
    }
        .MainContent {
           padding-top: 3rem;
            text-align: center; 
        }
            .MainTitle {
                font-size: 3rem;
                line-height: 2rem;
                padding-bottom: 4rem;
            }
            .MainAuthor {
                font-size: 1.4rem;
                font-weight: 300;
                padding-bottom: 2rem;
            }
                .MainAuthor span {
                    padding-left: 0.5rem;
                    font-style: italic;
                }
            .Resource {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                padding: 0;
            }
                .ResourceList {
                    margin: 0;
                    padding: 0;
                    font-size: 1.2rem;
                    text-decoration: none;
                }
                    .ResourceLink {
                        display: block;
                        text-decoration: none;
                        width: fit-content;
                        
                    }
                        .ResourceItem {
                            margin-bottom: 3rem;
                            background: rgb(255, 190, 152);
                            color: white;
                            padding: 1rem 2rem;
                            border-radius: 1.5rem;
                            list-style-type: none;
                            text-transform: uppercase;
                            font-weight: 900;
                        }
                        .ResourceItem:hover {
                            background: rgba(255, 190, 152, 0.493);
                        }
                        .ResourceItem span {
                            font-size: 0.8rem;
                            font-weight: 500;
                        }
        footer {
            display: block;
            clear: both;
            font-size: 0.9rem;
            border-top: 1px solid peachpuff;
            width: 80vw;
            margin: 0 auto;
            padding: 1rem;
            margin-top: 2rem;
        }
            p {
                text-align: center;
                color: peachpuff;
            }