html {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    display: block;
    min-height: 100vh;
    margin: 0;
    text-rendering: optimizeSpeed;
    background: black url(./images/background.jpg) center center no-repeat;
    background-size: cover;  
    color: rgb(255, 255, 255);
}

/*MAIN Page*/
    .MainContainer {
        
    }
        .MainHeader {
            
        }
            .MainContent {
                padding-top: 3rem;
                text-align: center; 
            }
                .MainTitle {
                    padding-bottom: 4rem;
                }
                @media (min-width: 1024px) { .MainTitle { width: clamp(300px, 22vw, 20rem); height: clamp(200px, 12vw, 18rem);} }
                .MainAuthor {
                    font-size: 1rem;
                    font-weight: 300;
                    padding-bottom: 3rem;
                }
                @media (min-width: 1024px) { .MainAuthor { font-size: 1.4rem; } }
                    .MainAuthor span {
                        padding-left: 0.5rem;
                        font-style: italic;
                    }
        .MainMain {
            clear: both;
        }        
            .MainResource {
                display: block;
                margin: auto;
                padding: 0;
            }
            
                .MainResourceList {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    padding: 0;
                    font-size: 1rem;
                    text-decoration: none;
                    max-width: 900px;
                }
                @media (min-width: 1080px) { .MainResourceList { flex-direction: row; align-items: center; justify-content: center; font-size: 1.2rem; margin: 0 auto;}}
                    
                    .MainResourceLink {
                        display: block;
                        text-decoration: none;
                        width: fit-content;
                        padding: 0 1.5rem;
                    }
                        .MainResourceItem {
                            margin-bottom: 3rem;
                            background: rgb(255, 190, 152);
                            color: white;
                            padding: 1rem 2rem;
                            border-radius: 1.5rem;
                            list-style-type: none;
                            text-transform: uppercase;
                            font-weight: 900;
                        }
                        .MainResourceItem:hover {
                            background: rgba(255, 190, 152, 0.493);
                        }
                        .MainResourceItem span {
                            font-size: 0.7rem;
                            font-weight: 500;
                        }
                        @media (min-width: 1080px) { .MainResourceItem span{ font-size: 0.8rem; } }
        .MainFooter {
            display: block;
            clear: both;
            margin-top: 2rem;
            border-top: 1px solid rgba(255, 218, 185, 0.432);
            width: 80vw;
            margin: 0 auto;
        }               
           .FooterText {
                color: peachpuff;
                font-size: 0.8rem;
                font-weight: 300;
                padding: 1rem 0;
                text-align: center;
            }   
            @media (min-width: 1024px) { .FooterText { font-size: 1rem; } }


/* MATERIALS Page */
.MaterialsContainer {
    background: rgba(150, 150, 150, 0.18);
}
    .MaterialsHeader {
        margin: 0;
        padding: 0;
    }
        .MaterialsHeaderNav{
            display: flex;
            position: sticky;
            flex-direction: column;
            top: 0;
            height: 13rem;
            background: rgba(159, 115, 70, 0.747);
            box-shadow: 0 1em 1em rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
        @media (min-width: 400px) { .MaterialsHeaderNav { flex-direction: row; justify-content: space-between; height: 9rem;}}
            .NavLeft {
                padding: 0.5rem 1.5rem;
            }
            @media (min-width: 400px) { .NavLeft { padding-left: 2rem;} }
            .NavLeft a {
                display: flex;
                text-align: center;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
            }
                .NavLeftImage {
                    display: block;
                    padding-right: 0.2em;
                }
                .NavLeftTitleOne {
                    padding: 0;
                    font-size: 1rem;
                    font-weight: 900;
                    max-width: 210px;
                    color: rgb(57, 16, 123);
                }
                .NavLeftTitleTwo {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    padding: 0 0 0.5em 0;
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: black;
                    margin-top: -0.5rem;
                }
                .NavLeftTitleTwo  img { padding-right: 1em;}
                .NavLeftTitleTwo  span { font-style: italic;}
                
            .NavRightTrigger {
                display: block;
                margin: 0;
                padding: 0rem 1.5rem 1rem 1.5rem;
                background: transparent;
                border: none;
                appearance: none;
                cursor: pointer;
            }
            @media (min-width: 768px) { .NavRightTrigger { display: none;} }
                .NavRightTriggerImage {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                }
            .NavRight {
                display: none;
                position: absolute;
                top: 13rem;
                right: 0;
                bottom: 0;
                left: 0;
                height: calc(100vh - 16.5rem);
                background: rgba(165, 120, 89, 0.9);
                padding: 1rem 0;
                overflow-y: auto;
            }
            @media (min-width: 400px) { .NavRight { margin-top: -4rem;} }
            @media (min-width: 768px) { .NavRight { display: block; margin-top: -11rem; margin-right: 2rem; height: initial; padding: 0; bottom: initial; left: initial; overflow-y: initial; background: transparent;} }
            
            .NavRight.Active { display: block; }
                .NavRightList {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
                @media (min-width: 768px) { .NavRightList { display: flex; } }
                    .NavRightListItem {
                        display: block;
                    }
                        .NavRightListItemLink {
                            display: block;
                            padding: 0.5em 1em;
                            background: transparent;
                            font-size: 0.9em;
                            font-weight: 900;
                            color: black;
                            
                        }
                        .NavRightListItemLink:hover, .NavRightListItemLink:active, .NavRightListItemLink:focus {
                            color: rgb(85, 0, 147);
                        }
                        .NavRightSubList {
                            display: block;
                            padding: 0;
                            margin: 0;
                        }
                        @media (min-width: 768px) { .NavRightSubList { display: none; }}      
                        .NavRightSubList.active {
                            display: block;
                            background: rgba(165, 120, 89, 0.9);
                        }    
                            .NavRightSubListItem {
                                display: block;
                            }
                                .NavRightSubListItemLink {
                                    display: block;
                                    padding: 0.75em 1.5em;
                                    font-size: 0.8em;
                                    font-weight: 600;
                                    background: transparent;
                                    text-decoration: none;
                                    color: black;
                                }
                                .NavRightSubListItemLink:hover {
                                    color:  rgb(85, 0, 147);
                                    background: rgba(255, 255, 255, 0.098); 
                                }

    .MaterialsMain {
        display: block;
        background: black url(/images/materials-bg.jpg) center center no-repeat;
        background-size: cover;
        min-height: 75vh;
        opacity: 0.8;
    }
        .MaterialsMainTitle {
            text-align: center;
            font-size: 2rem;
            min-width: 13rem;
            color: rgb(0, 0, 0);
            background-color: rgba(240, 248, 255, 0.491);
            padding: 0.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .MaterialsFooter {

    }
        .MaterialsFooterText {
            
        }




